/* Write your global styles here, in PostCSS syntax */
/* do not need this default as described here https://www.skeleton.dev/guides/tailwind
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/
